In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv("/Users/pranavreddy/Desktop/projects/wines/Highbrow-wines-case-predictive-modelling-/data_2016.csv")

In [13]:
df = df.dropna(subset=["bought_highbrow_wines"])
#.copy() to avoid SettingWithCopyWarning which is not relevant here

In [14]:
#lets separate targets early
y = df["bought_highbrow_wines"]
X = df.drop(columns=["bought_highbrow_wines"])

In [15]:
#lets fill msising collishop values with 0. reason: mssing= no evidence of digital trust
X["Collishop_customer"] = (
    X["Collishop_customer"]
    .map({"Y": 1, "N": 0})
    .fillna(0)
)

In [16]:
# df["cat_AP_STDR_WhiskyONLINE"].describe()
(df["cat_AP_STDR_WhiskyONLINE"] == 0).mean()

#spend columns are right skewed

np.float64(0.99669993399868)

In [17]:
#identifying spend columns
candidate_spend_cols = [
    col for col in X.columns
    if (
        col.startswith("cat_") or col.endswith("_rev")
    )
    and X[col].dtype != "object"
]
skew_summary = []

for col in candidate_spend_cols:
    zero_frac = (X[col] == 0).mean()
    max_val = X[col].max()
    median = X[col].median()

    skew_summary.append({
        "column": col,
        "zero_fraction": zero_frac,
        "median": median,
        "max": max_val
    })

skew_df = pd.DataFrame(skew_summary)
skew_df.sort_values("zero_fraction", ascending=False).head(15)

                            column  zero_fraction  median      max
10    cat_ColruytMobile_Toestellen       0.999990     0.0     0.00
42                      cat_nfokay       0.999670     0.0    14.97
0          cat_AP_STDR_PortoONLINE       0.999385     0.0   706.88
1         cat_AP_STDR_WhiskyONLINE       0.996700     0.0   878.84
34               cat_VNCVarkenRest       0.996345     0.0   108.46
23           cat_Textiel_Bedlinnen       0.995915     0.0   174.95
33                     cat_VNCRest       0.994855     0.0    54.72
12               cat_EleKtroKeuken       0.990620     0.0   184.87
14        cat_Incontinentie_luiers       0.989655     0.0  1395.92
35                cat_VNCWildSteak       0.987145     0.0   310.50
11                      cat_DeegDV       0.984070     0.0    46.26
13  cat_Houtpelletskolen_briketten       0.964784     0.0  1562.18
3     cat_Ber_Ger_DVPortioneerbaar       0.956769     0.0   575.10
31           cat_VNCKalfStoofvlees       0.938699     0.0   605.39
40              cat_Zomerspeelgoed       0.937274     0.0   159.95

In [18]:
X[candidate_spend_cols] = X[candidate_spend_cols].clip(lower=0)

In [19]:
#semantic importance of spend columns
#Does €500 vs €50 actually mean 10× stronger behavior?
#For alcohol / gourmet / online revenue → YES
#For tech purchase / diapers / bedding → NO (presence matters more)

In [20]:
import numpy as np

X[candidate_spend_cols] = np.log1p(X[candidate_spend_cols])

In [21]:
#quasi binary spends handled (quasi binary because of some small non-zero values)

X["cat_ColruytMobile_Toestellen_flag"] = (
    X["cat_ColruytMobile_Toestellen"] > 0
).astype(int)

X = X.drop(columns=["cat_ColruytMobile_Toestellen"])

In [22]:
#encode categorical variables
X = pd.concat([
    X,
    pd.get_dummies(X["SOW_type_colr"], prefix="SOW")
], axis=1)

X = X.drop(columns=["SOW_type_colr"])

In [23]:
#household typology
X = pd.concat([
    X,
    pd.get_dummies(X["HOUSEHOLDTYPOLOGY"], prefix="HH")
], axis=1)

X = X.drop(columns=["HOUSEHOLDTYPOLOGY"])

In [24]:
assert X.isna().sum().sum() == 0

In [25]:
X.dtypes[X.dtypes == "object"]

Series([], dtype: object)

In [26]:
X.isna().sum().sum()
X.shape

(199996, 79)

In [27]:
# Find which columns have missing values
missing_cols = X.columns[X.isna().any()].tolist()
print("Columns with missing values:", missing_cols)

# Show rows with missing values
print("\nRows with missing values:")
print(X[X.isna().any(axis=1)])

# Check data types
print("\nData types of columns with NAs:")
for col in missing_cols:
    print(f"{col}: {X[col].dtype}")
    print(f"  Unique values: {X[col].unique()[:10]}")

Columns with missing values: []

Rows with missing values:
Empty DataFrame
Columns: [masked_customer_id, jaar, Collishop_customer, cat_AP_STDR_PortoONLINE, cat_AP_STDR_WhiskyONLINE, cat_Babyluiers, cat_Ber_Ger_DVPortioneerbaar, cat_Ber_Ger_VersMaaltijdsalades, cat_Bier_Genietbieren, cat_Bloemen, cat_Bot_Mar_Boter, cat_BroodKorthoudbaar, cat_Chips, cat_DeegDV, cat_EleKtroKeuken, cat_Houtpelletskolen_briketten, cat_Incontinentie_luiers, cat_KaasSeizoenskazen, cat_Kauwgum, cat_KoudeSauzen, cat_MelkKarnemelk, cat_Notengedroogdfruit_groenten, cat_Ontbijtgranen_Volwassenen, cat_ParfumerieEHBO, cat_Tapas, cat_Textiel_Bedlinnen, cat_Textiel_Herenondergoed, cat_Textiel_Pantys, cat_VNCBGBereidegerechten, cat_VNCBerBurgers, cat_VNCCharBHWildpasteien, cat_VNCFSalades, cat_VNCGevgeheel, cat_VNCKalfStoofvlees, cat_VNCLamSnedenkoteletsteak, cat_VNCRest, cat_VNCVarkenRest, cat_VNCWildSteak, cat_VerseKaasFruitkazen, cat_VisGerookt, cat_VisVerseSchelpdieren, cat_Wijn_Stillewijnen_RAYON, cat_Zomerspeelgoed, cat_bbqfoodevent, cat_nfokay, total_discount, rev_ticket, prod_ticket, n_cogo, cogo_rev, price_sens_colr, SOW_colr, cat_ColruytMobile_Toestellen_flag, SOW_!, SOW_Outlier_fr, SOW_Outlier_om, SOW_SOW00-10, SOW_SOW10-20, SOW_SOW20-30, SOW_SOW30-40, SOW_SOW40-50, SOW_SOW50-60, SOW_SOW60-70, SOW_SOW70-80, SOW_SOW80-90, SOW_SOW90-100, SOW_SOW_100+, HH_!, HH_a_Single_18_34, HH_b_Single_35_54, HH_c_Single_55_plus, HH_d_Single_nietbepaald, HH_e_HHnochild_18_34, HH_f_HHnochild_35_54, HH_g_HHnochild_55_plus, HH_h_HHnochild_nietbepaald, HH_i_HHchild_oldest_0_5, HH_j_HHchild_oldest_6_12, HH_k_HHchild_oldest_13_17]
Index: []

[0 rows x 79 columns]

Data types of columns with NAs:

In [28]:
# Check the ORIGINAL data before any transformations
print("NAs in ORIGINAL df (before any processing):")
print(df[['cat_EleKtroKeuken', 'cat_Houtpelletskolen_briketten', 
          'cat_Incontinentie_luiers', 'cat_VNCKalfStoofvlees', 
          'cat_VNCRest', 'cat_Zomerspeelgoed']].isna().sum())

print("\n" + "="*50)

# Check after dropping target
print("\nNAs in X (after dropping target):")
X_temp = df.drop(columns=["bought_highbrow_wines"])
print(X_temp[['cat_EleKtroKeuken', 'cat_Houtpelletskolen_briketten', 
              'cat_Incontinentie_luiers', 'cat_VNCKalfStoofvlees', 
              'cat_VNCRest', 'cat_Zomerspeelgoed']].isna().sum())

print("\n" + "="*50)

# Check data types
print("\nData types in original df:")
print(df[['cat_EleKtroKeuken', 'cat_Houtpelletskolen_briketten']].dtypes)

NAs in ORIGINAL df (before any processing):
cat_EleKtroKeuken                 0
cat_Houtpelletskolen_briketten    0
cat_Incontinentie_luiers          0
cat_VNCKalfStoofvlees             0
cat_VNCRest                       0
cat_Zomerspeelgoed                0
dtype: int64

==================================================

NAs in X (after dropping target):
cat_EleKtroKeuken                 0
cat_Houtpelletskolen_briketten    0
cat_Incontinentie_luiers          0
cat_VNCKalfStoofvlees             0
cat_VNCRest                       0
cat_Zomerspeelgoed                0
dtype: int64

==================================================

Data types in original df:
cat_EleKtroKeuken                 float64
cat_Houtpelletskolen_briketten    float64
dtype: object

In [30]:
#lets save the processed data for modelling
X.to_csv("/Users/pranavreddy/Desktop/projects/wines/Highbrow-wines-case-predictive-modelling-/processed_features.csv", index=False)
y.to_csv("/Users/pranavreddy/Desktop/projects/wines/Highbrow-wines-case-predictive-modelling-/processed_target.csv", index=False)